//
   Created by deng on 16-7-11.

doctype html
html
    head
        title 关于我们
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='MobileOptimized', content='320')
        meta(name='viewport', content='initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0,width=device-width')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='format-detection', content='telephone=no, email=no')
        link(rel='apple-touch-icon', href='http://pic.kuaizhan.com/g2/M01/28/A8/wKjmqleE5H6ATrpNAABB3mRXaQs3635059', data-role='site-logo')
        script.
            var SOHUZ = {
                page: {site_id: "5705784704", site_name: "关于我们", site_url: "http://dengyi.kuaizhan.com", page_id: "7447058242", page_title: "首页", page_type: "0", index_url:"/", is_index_page: true, use_header: true, use_nav: true},
                share:{title: "首页——空白模板", desc: "标题文字", pic: "http://pic.kuaizhan.com/g1/imageView/v1/thumbnail/700x700"}
            };
        script.
            SOHUZ.nav = [];
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(rel='dns-prefetch', href='http://kzcdn.itc.cn')
        link(rel='dns-prefetch', href='http://pfile.kuaizhan.com')
        link(rel='dns-prefetch', href='http://pic.kuaizhan.com')
        link(rel='stylesheet', type='text/css', href='http://kzcdn.itc.cn/res/mobile/css/ui.css?v=4.7')
        // DTD WML
        meta(http-equiv='Cache-Control', content='no-transform')
        link#mobile-css(rel='stylesheet', type='text/css', href='http://kzcdn.itc.cn/res/skin/css/mobile.css?v=4.7')
        link#mod-css(rel='stylesheet', type='text/css', href='http://kzcdn.itc.cn/res/skin/css/mod.css?v=4.7')
        link#portal-css(rel='stylesheet', type='text/css', href='http://pfile.kuaizhan.com/files/portal_basic.css')
        link#theme-css-3(rel='stylesheet', type='text/css', href='http://kzcdn.itc.cn/res/skin/themes/theme1/theme.css?v=4.7')
        link#color-css(rel='stylesheet', type='text/css', href='http://kzcdn.itc.cn/t/site-5705784704/site-5705784704.css?v=1468327356')
        link#portal-extra(rel='stylesheet', type='text/css', href='http://pfile.kuaizhan.com/files/??crm2/latest_version/components/portal_all.css,dsp/latest_version/components/portal_all.css,kuaizhan_promotion/latest_version/components/portal_all.css,page/latest_version/components/portal_all.css,pc_shipei/latest_version/components/portal_all.css,plugin_render/latest_version/components/portal_all.css')
    body
        script(src='http://kzcdn.itc.cn/res/skin/js/zepto.min.js?v=4.7')
        script(src='http://kzcdn.itc.cn/bus/static-apps/572aba2ba3fa15f816ef1936/front/js/main.js')
        #phone-main.phone-main(style='left: 0px; top: 0px;')
            .mod.mod-global-nav.nav-header.t4.center.no-icon.user-append.kz-b-c-t(data-component='{"eid":"system_plugin\/global-nav","name":"mod-global-nav","version":"6.15.90","ename":"system_plugin\/global-nav"}', style='margin:   ;', data-nav-type='t4', data-body-class='', data-icon-class=' no-icon ', data-role='nav-header')
                .cell.logo
                    a(href='/')
                        img(src='http://pic.kuaizhan.com/g2/M01/28/A8/wKjmqleE5H6ATrpNAABB3mRXaQs3635059')
                .cell.title.logo-append
                    span
                        a(href='/') 关于我们

            //.mod-nav-theme.t4.no-icon(data-role='mod-nav-theme')
            //    .nav-list-wrapper
            //        .user-section(data-role='user-section')
            //            .user-section-wrap
            //                a(href='/auth/me')
            //                    img(src='http://pic.kuaizhan.com/g2/M01/28/A8/wKjmqleE5H6ATrpNAABB3mRXaQs3635059')
            //        .list-section
            //            ul.list-items
            //            span.list-more(data-role='list-in-box')
            //                a.icon-more
            //                    span.ki-t.i-add
            //        .dropbox
            //            ul
            //            span.icon-arrow
            //                em.icon-arrow-bd
            //                em.icon-arrow-bg
            .nav-screen-mask.t4(data-role='nav-screen-mask')
            .page-w(style='background-color:tranparent;background-size:;')
                #page-content.page-content
                    .mod.mod-link.t0(style='margin:   ;')
                        h2
                            a(href='https://github.com/dengyi1992/NiMeiDa')
                                div(data-role='line')
                                    b 手机端项目地址
                    .mod.mod-link.t0(style='margin:   ;')
                        h2
                            a(href='https://github.com/dengyi1992/NiMeiDa')
                                div(data-role='line')
                                    b 服务器端项目地址
                    .mod.mod-link.t0(style='margin:   ;')
                        h2
                            a(href='https://dengyi1992.github.io/')
                                div(data-role='line')
                                    b 博客地址
                footer.kz-footer
                    .mod.mod-text(style='margin:   ;background:') Powered by dy
        //.kz-float-layer.bottom(data-role='kz-bottom-float-layer')
        //    .kz-manage(data-role='kz-manage')
        script(src='http://kzcdn.itc.cn/res/skin/js/lib/require.js?v=4.7')
        script(src='http://kzcdn.itc.cn/res/skin/js/mobile.js?v=4.7')
        script(src='http://kzcdn.itc.cn/res/pageui/js/portal_page.js?v=4.7')
        script.
            (function(i,s,o,g,r,a,m) {
                i['KZAnalyticsObject'] = r; i[r] = i[r] || function() {(i[r].q = i[r].q || []).push(arguments);};
                a = s.createElement(o); m = s.getElementsByTagName(o)[0]; a.sync = 1; a.src = g;
                m.parentNode.insertBefore(a, m);
            })(window, document, "script", "//pv.kuaizhan.com/kzcollector.min.js?version=0.3", "kaq");
            (function(z){
                var page = z.page;
                kaq('create', page.site_id);
                kaq('set', 'page_type', page.page_type);
                if (page.page_type == "2") {
                    if (page.is_imported_post) {
                        kaq('set', 'is_imported_post', 1);
                        kaq('set', 'source_page_id', page.source_page_id);
                    } else {
                        kaq('set', 'is_imported_post', 0);
                        kaq('set', 'source_page_id', 0);
                    }
                }
                if (page.page_type == '4' && window.pageData && window.pageData._id) {
                    kaq("set", 'traceKey', window.pageData._id);
                } else {
                    kaq("set", 'traceKey', page.page_id);
                }
                kaq('send', 'pageview');
                kaq('send', 'timing', 5);
                z.kaq = kaq;
            })(window.SOHUZ);
